input {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
}
input:focus {
  outline: 2px solid red;
}
input:focus-within {
  border: 2px solid red;
}
button {
  background: none;
  border: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 0.5rem 1.8rem;
  color: inherit;
  cursor: pointer;
}
h2 {
  color: blue;
}
h5 {
  color: orangered;
}
